
/*全体の基本設定*/
body{
    margin: 0;
    font-family: "ヒラギノ角ゴ ProN", sans-serif;
}
/*ヘッダー設定*/
header{
    width: 800px;
    /*height: 80;←あっても効果反映されない*/
    background-color: #ffff99;
    text-align: center;
    margin: 0 auto;
    line-height: 80px;
}
/*コンテナ・設定↓*/
.container{
    display: flex;
    width: 800px;
    margin: 0 auto;
    background-color: #382253;
    padding-bottom: 0px;
}

nav{
    width: 220px;
    height: 342px;
    margin-bottom: auto;
    background-color: #ccfff0; /*ナビゲーション背景：カラー*/
    padding: 20px;
}

nav ul {
    /*list-style-type: none;←点を残したいから、消す*/
    list-style-position: inside;/*点を内側に入れる*/
    padding-left: 20px;
}

nav li {
    margin-bottom: 10px;/*ナビゲーション項目：文字間隔*/
}

nav a {
    color: blue;
    text-decoration: underline;/*ナビゲーション項目：アンダーライン*/
}
/*コンテナ設定終了↑*/
/*メイン設定*/
    #main {
        flex: 1;  
        /*width: 550px !important;*/
        
        margin-bottom: auto;
        background-color: #ffefcc;
        padding: 20px 20px 5px 20px;
    }

    #main table{
        margin: 0 outo;
    }
/*メイン設定終了*/

/*テーブル全体のデザイン*/
table{
    border:  4px solid #000;
    border-collapse: separate;
    border: spacing 0; 
}
/*テーブル全体のデザイン終了*/
/*内側罫線デザイン*/
td{
    border:1px solid #000;
    padding: 5px;
}
/*内側罫線デザイン終了*/

/*見出し*/
h2{
    font-size: 1.5em;
    margin-bottom: 0px;
}
/*見出し終了*/
/*送信ボタン*/
input[type="submit"]{
    display: block;
    margin:0px 0px 0px auto;  /* 上0px・右0px・下0px・左auto → 少し右寄り */
    padding: 6px 12px;
    background-color: rgb(234, 234, 170);
    border-radius :4px;
    cursor:pointer;
    font-weight: bold;
}

input[type="submit"]:hover{
background-color:#ffa0b5 ;
}
/*送信ボタン終了*/

/*フッター設定*/
#footer{
    width: 800px;
    height: 30px;
    margin:0 auto;
    background-color: #70707036;
    text-align:center;
    padding: 10px 0 ;
    border-top:2px solid #333;
}
/*フッター設定終了*/
/*フォームの見出し部分書式設定*/
table td:first-child {
 font-weight: bold;
 width: 150px; /* ←フォームのデザインに合わせて調整 */
white-space: nowrap; /* 改行しないようにする（文字崩れ防止） */
}
/*フォームの見出し終了*/
/*お問い合わせ内容*/
textarea::placeholder {
    color: #ccc; /* 薄い灰色 */
  }
/*お問い合わせ内容終了*/